a:link {
    text-decoration: none;
}

.black-text {
    color: rgba(0, 0, 0, 1);
}

h2 {
    color: rgba(0, 0, 0, 1);
}

.card:hover {
    color: rgba(0, 0, 0, 1);
}

input[type=text] {
    color: rgba(0, 0, 0, 1);
}

.button5 {
    background-color: black;
    color: white;
    text-decoration: none;
    border: none;
}

.banner-background-color {
    background-color: rgba(209, 227, 255, 1);
}

.banner-blue {
    color: rgba(3, 85, 204, 1);
}

div {
    animation: transitionIn 0.25s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.textcenter {
    text-align: center;
}

.emptypage {
    margin: 100px 0;
}

.responsivestart {
    margin-bottom: -48px;
}

.picvisible {
    visibility: visible;
}

@media only screen and (max-width: 1200px) {
    .responsivestart {
        margin-bottom: -24px;
    }
}

@media only screen and (max-width: 767px) {
    .picvisible {
        visibility: hidden;
    }
}